p{
    font-family: Roboto;
}
body {
  margin: 0;
  padding: 1px 3px;
}
#nav__toggle {
    display: none;
}
.wrapper {
    margin: auto;
    width: 80%;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 39px 0px;
    margin-bottom: 132px;
}
.header__logo {
    position: relative;
    padding-left: 45px;
    font: bold 24px/31px pt_serif, arial, helvetica, sans-serif
}

.header__logo_circle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-56%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: .7;
}
.header__logo_circle_color-blue {
    left: 11px;
    top: 69%;
    background: #c8dbfb;
}
.nav {
  top: 50%;
  transform: translateY(24%);
}
.header__logo_circle_color-darkblue {
    background: #0056ec;
}
.nav__item {
    position: relative;
    margin-right: 23px;
    font: bold 18px/21px Roboto, arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity .5s, width .5s;
}
.nav__item:hover {
    opacity: .5;
}
.nav__item::after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    width: 0%;
    height: 3px;
    background: #0056ec;
    opacity: 0;
    transition: opacity .5s;
}
.nav__item:hover::after,.nav__item_active::after {
    opacity: 1;
    width: 100%;
}
.nav__item:hover::after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    width: 100%;
    height: 3px;
    background: #0056ec;
}
.nav__item_active::after {
    position: absolute;
    display: block;
    content:'';
    left: 0;
    width: 100%;
    height: 3px;
    background: #0056ec;
}
.nav__item:last-child {
    padding-right: 0;
    margin-right: 7px;
}
.main {
    padding: 75px 63% 172px 0;
    background: top right no-repeat url(img/mainimg.svg);
    background-size: 770px;
    background-position-x: 758px;
}
.main__title {
    font: 700 66px/87px pt_serif, arial, helvetica, sans-serif;
    margin: 0 0 38px 0;
}
.main__paragraph {
    font: 500 22px/26px Roboto, arial, helvetica, sans-serif;
    margin: 0 0 41px 0;
    width: 455px;
}
.main__button {
    display: inline-block;
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
    color: #fff;
    background: #0056ec;
    padding: 19px 35px 18px 23px;
    text-decoration: none;
    border-radius: 4px;
}
.main__button:hover {
    background: #EF832B;
    transition: .5s;
}
.main__title-text_highlight {
    background-color: #ecf3ff;
    background-size: 10px 10px ;
}
.nav__box {
    display: none;
  }

  @media screen and (max-width: 1919px) and (min-width: 1366px) {
    .main {
      padding: 75px 63% 172px 0;
      background: top right no-repeat url(img/mainimg.svg);
      background-size: 60%;
      }
  }

  @media screen and (max-width: 1367px) and (min-width: 1250px) {
    .header {
      margin-bottom: 84px;
      padding-left: 5px
    }
  
    .wrapper {
      margin: auto;
      width: 69%;
    }
    .header__logo {
      padding-left: 43px;
    }
    .logo__title {
      padding-left: 1px;
    }
    .header__logo_circle_color-blue {
      left: 8px;
      top: 70%;
    }
    .nav {
      padding-top: 2px;
    }
  
    .nav__item {
      font: bold 14px/16px Roboto, arial, helvetica, serif;
      margin-right: 23px;
    }
    .nav__item:last-child {
      margin-right: 3px;
      padding-right: 4px;
    }
    .main {
      width: 92%;
      padding: 10px 15% 11% 0;
      background: top right no-repeat url(img/mainimg.svg);
      background-size: 514px;
      background-position-x: 420px;
    }
  
    .main__title {
      margin: 8px 30% 40px 3px;
      font: 700 50px/66px pt_serif, arial, helvetica, serif;
    }
  
    .main__paragraph {
      width: 367px;
      margin-bottom: 41px;
      font: 500 18px/21px Roboto, arial, helvetica, serif;
      padding-left: 4px;
    }
  
    .main__button {
      font: 500 14px/16px Roboto, arial, helvetica, serif;
      padding: 15px 26px 13px 18px;
      margin-left: 5px;
    }
  }

  @media screen and (max-width: 1249px) and (min-width: 1024px){
    .wrapper {
      width: 89%;
    }
    .main {
      padding: 54px 47% 172px 0;
      background-position-x: right;
      background-size: 56%;
   }
   .main__title {
    font: 700 50px/60px pt_serif, arial, helvetica, sans-serif;
  }
  .main__paragraph {
    width: 367px;
    margin-bottom: 42px;
    font: bold 18px/21px Roboto, arial, helvetica, serif;
   }
  }
  
  @media screen and (max-width: 1024px) and (min-width: 1000px) {
    .header {
      margin-bottom: 84px;
      padding: 39px 2px;
    }
  
    .wrapper {
      margin: auto;
      width: 92%;
    }
  
    .nav {
      padding-top: 3px;
    }
  
    .nav__item {
      font: 500 14px/16px Roboto, arial, helvetica, serif;
      margin-right: 22px;
    }
    .nav__item:last-child {
      margin-right: 1px;
    }
    .main {
      width: 92%;
      padding: 18px 8% 11% 2px;
      background: top right no-repeat url(img/mainimg.svg);
      background-size: 514px;
      background-position-x: 419px;
    }
  
    .main__title {
      margin-right: 32%;
      margin-bottom: 39px;
      font: 700 50px/66px pt_serif, arial, helvetica, serif;
    }
  
    .main__paragraph {
      width: 367px;
      margin-bottom: 42px;
      font: bold 18px/21px Roboto, arial, helvetica, serif;
    }
  
    .main__button {
      font: 500 14px/16px 'Roboto', arial, helvetica, serif;
      padding: 14px 25px 13px 16px;
    }
  }
  @media screen and (max-width: 999px) and (min-width: 768px){
    .wrapper {
      width: 89%;
    }
    .header {
      margin-bottom: 120px;
    }
    .main {
      padding: 30px 53% 172px 0;
      background-size: 57%;
      background-position-x: right;
    }
    .main__title {
      font: bold 40px/57px pt_serif, arial, helvetica, serif;
    }
    .main__paragraph {
      width: 304px;
      font: bold 14px/17px Roboto, arial, helvetica, serif;
    }
  }

  @media (max-width: 768px) {
    .header {
      margin-bottom: 8px;
      padding: 39px 2px;
    }
  
    .nav__item:last-child {
        display: flex;
        margin-right: 0;
    }
    .wrapper {
      margin: auto;
      width: 90%;
    }
  
    .nav {
      display: none;
    }
  
    .logo__title {
      display: none;
    }
    .header__logo_circle_color-blue {
      left: 9px;
      top: 6px;
    }
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 78% 0 0;
      background-size: 84%;
      background-position: top center;
    }
  
    .main__title {
      margin-bottom: 32px;
      font: 700 30px/40px pt_serif, arial, helvetica, serif;
      padding-left: 5px;
    }
  
    .main__paragraph {
      width: 75%;
      margin-bottom: 25px;
      font: bold 16px/19px Roboto, arial, helvetica, serif;
      padding-left: 3px;
    }
  
    .main__button {
      font: bold 13px/16px Roboto, arial, helvetica, serif;
      word-spacing: 6px;
      padding: 16px 29px 17px 19px;
    }
  
    #nav__toggle {
      opacity: 0;
    }
  
    .nav__btn {
      display: flex;
      align-items: center;
      position: fixed;
      top: 27px;
      right: 24px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }
  
    .nav__btn > span,
    .nav__btn > span::before,
    .nav__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #0056ec;
    }
  
    .nav__btn > span::before {
      content: '';
      top: -6px;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
  
    .nav__btn > span::after {
      content: '';
      top: 7px;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
  
    .nav__box {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: #fff;
      box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
      transition: left 0.5s;
    }
  
    .nav__item {
      text-align: center;
      padding: 9px 0 0;
      color: #000;
      font: bold 30px/35px Roboto, arial, helvetica, sans-serif;
      text-decoration: none;
      margin-bottom: 20%;
    }
  
    .nav__item:hover {
      padding-top: auto;
      background-color: #fff;
      opacity: 0.5;
    }
  
    .nav__item::after {
      position: absolute;
      padding-top: 0;
      right: 0;
      display: block;
      content: '';
      width: 0;
      height: 3px;
      background: #0056ec;
      opacity: 0;
      transition: opacity 0.5s, width 0.5s;
    }
  
    .nav__item:hover::after,
    .nav__item_active::after {
      opacity: 1;
      width: 100%;
    }
  
    #nav__toggle:checked ~ .nav__btn > span {
      background-color: transparent;
    }
  
    #nav__toggle:checked ~ .nav__btn > span::before {
      top: 0;
      transform: rotate(45deg);
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
  
    #nav__toggle:checked ~ .nav__btn > span::after {
      top: 0;
      transform: rotate(-45deg);
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
  
    #nav__toggle:checked ~ .nav__box {
      visibility: visible;
      left: 0;
    }
  }
  